<html>

  <head>
    <title><%= r.name%></title>
    <style> 
      img {
        width: 100%;
        height: auto;
      }
    </style>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </head>

  <body>
  <form action="/update" method="post" enctype="multipart/form-data"  style="width:100%">
  <p>

  <input required="" name="name" type="text" value="<%= r.name %>">
  <label>Name</label></p>
  <p>
  <input name="borough" type="text" value="<%= r.borough %>">
  <label>Borough</label></p>
  <p>
  <input name="cuisine" type="text" value="<%= r.cuisine %>">
  <label>Cuisine</label></p>
  <p>
  <input name="street" type="text" value="<%= r.address.street %>">
  <label>Street</label></p>
  <p>
  <input name="building" type="text" value="<%= r.address.building %>">
  <label>Building</label></p>
  <p>
  <input name="zipcode"  type="text" value="<%= r.address.zipcode%>">
  <label>Zipcode</label></p>
  <p>
  </p><p>
  <input name="lon"  type="text" value="<%= r.address.coord[0] %>">
  <label>GPS Coordinates (lon.)</label></p>
  <p>
  <input name="lat" type="text" value="<%= r.address.coord[1] %>">
  <label>GPS Coordinates (lat.)</label></p>
  <p>
  <input name="photo" type="file">
  <label>Photo</label></p>
  <p>
  <button>Change</button></p>
</form>


<!--     Click button -> go to different page
    Think about the params  -->
    <button> <a href="#"> Rate    </a> </button>
    <button> <a href="#"> Delete  </a> </button>
    <button onclick="goBack()">Go Back</button>
  </body>

</html>